body 
{
  background: linear-gradient(to right, rgb(142,45,226, .6) ,rgb(0, 4, 255, .6)), url("../img/img01.jpg");
  background-size: cover;
  background-position: center;
  font-family: 'Raleway', sans-serif;
}

.logo {
height: 50%;
}