body 
{
  background: linear-gradient(to right, rgba(137, 111, 160, 0.5) ,rgb(0, 4, 255, .5)), url("../img/img01.jpg");
  background-size: cover;
  background-position: center;
  font-family: 'Raleway', sans-serif;
}

.logo {
height: 50%;
}

